:root {
  --primary: #088395;
  --bg: #e6e6e6;
  --fcolor: #088395;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--fcolor);
  /* min-height: 5000px; */
}

input[type="number"] {
  width: 30%;
  padding: 5px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid var(--primary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 0.5rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  border-bottom: 1px solid #076371;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #fff;
  font-weight: 700;
}

img {
  display: block;
  width: 40%;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.hero .content {
  display: relative;
  background-color: #fff;
  margin: 100px 3%;
  max-width: 120rem;
  padding: 2rem 2%;
}

.hero .hero-judul {
  display: absolute;
  background-color: var(--primary);
  padding: 1rem 7%;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.hero .hero-judul h1 {
  justify-content: center;
}

.hero .calculator {
  display: block;
}

.hero .calculator label {
  font-size: small;
}

.hero .calculator .pageResult {
  display: flex;
  margin-right: 10rem;
  margin-top: 1.5rem;
}

.hero .calculator .pageResult h3 {
  background-color: var(--primary);
  color: #fff;
  margin-bottom: 1rem;
  padding: 1.2rem 2%;
}

.hero .calculator #result {
  margin-left: 10rem;
  background-color: var(--primary);
  padding: 0.5rem 2%;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .calculator #reset {
  margin-left: 0.2rem;
  background-color: var(--primary);
  padding: 0.5rem 2%;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .calculator #result:hover,
.hero .calculator #reset:hover {
  background-color: #076775;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  input[type="number"] {
    width: 50%;
  }
}

/* Smartphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
